<!--The content below is only a placeholder and can be replaced.-->

 <!-- <app-expense></app-expense>
<app-expense-form></app-expense-form> -->

    <ul class="nav nav-tabs">
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="form">Form</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="expenses">Expenses to date</a>
        </li>
    </ul>
               
           

        
    <router-outlet></router-outlet>
